.element__button {
  position: absolute;
  height: 19px;
  width: 22px;
  background-image: url(../../../image/like.svg);
  background-color: transparent;
  margin-top: 5px;
  border: 0;
  cursor: pointer;
  right: 20px;
  bottom: 30px;
}

.element__button:hover {
  opacity: .5;
}
