.modal__input {
  position: relative;
  max-width: 358px;
  height: 27px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background-color: transparent;
  color: #000000;
  margin: 0 36px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.modal__input:first-of-type {
  margin-top: 54px;
  margin-bottom: 30px;
}

.modal__input:focus {
  outline: none;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.modal__input::placeholder {
  color: #000000;
}

@media screen and (max-width:1279px) {
  .modal__input:first-of-type {
    margin-top: 75px;
  }
}
